@font-face{
	font-family: 'Rubik';
	src: url('fonts/Rubik-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face{
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

html{
	height: 100%
}

body{
	margin: 0;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none; 
	background: #e7ebf0;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#wrapper{
	width: 100%;
	height: 100%;
	background: white;
	max-width: 1000px;
	min-width: 320px;
	min-height: 270px;
	overflow: hidden;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#content{
	width: 100%;	
	position: relative;
	background-color: white;
	font-family: 'Roboto';
	font-weight: normal;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}

#header{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #5682a3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#header span{
	color: white;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 26pt;
	margin-left: 5px;
	transform: translate(-50px);
	transition: transform .5s;
}

#header.back span{
	transform: translate(0px);
}

#header .logout-button{
	width: 50px;
	height: 50px;
	transform: translate(50px);
	transition: transform .5s;
	background-image: url("images/exit.png");
	background-size: contain;
}


#header.logout .logout-button{
	transform: translate(0px);
}

#header .return-button{
	width: 50px;
	height: 50px;
	transform: translate(-50px);
	transition: transform .5s;
	background-image: url("images/back.png");
	background-size: contain;
}


#header.back .return-button{
	transform: translate(0px);
}

#header .spacer{
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
}

#footer{
	margin: auto;
	background: white;
	color: gray;
	font-family: 'Roboto';
	font-size: 9pt;
	height: 20px;
	width: 100%;
	text-align: center;
}

#footer a{
	color: gray;
}

.login-form{
	margin-left: 5px;
	margin-right: 5px;
	max-width: 350px;
	text-align: center;
	position: relative;
}

.login-form span{
	font-size: 15pt;
}

.login-form input{
	border: solid gray 2px;
	width: 100%;
	height: 36px;
	margin-top: 5px;
	transition: background .3s;
	font-size: 10pt;
}

.login-form input[type="submit"]:hover{
	background: darkgray;
}

.login-troubles{
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: space-around;
	color: gray;
	font-size: 9pt;
}

.login-troubles a{
	margin-left: 3px;
	margin-right: 3px;
	color: #4285F4;
}

#hider{
	position: fixed;
	opacity: 0;
	background-color: lightgray;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
}

#hider.active{
	z-index: 10;
	opacity: 0.75;
}

.slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform .5s;
}

.slide.left{
	transform: translateX(-100%);
}

.slide.right{
	transform: translateX(100%);
	transition: none;
}

.login-error{
	padding-top: 3px;
	padding-bottom: 3px;
	color: #f54952;
	border: solid #f54952 2px;
	width: 100%;
	display: none;
	box-sizing: border-box;
	font-size: 12pt !important;
}

.votes-container{
	width: 100%;
    height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.vote{
	position: relative;
	overflow: hidden;
}

.vote .background{
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	height: 80px;
	width: 100%;
	transition: all .3s;
}

.vote:hover .background, .vote.selected .background{
	filter: none;
	-webkit-filter: none;
}


.vote .text{
	font-family: 'Rubik';
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
    justify-content: center;
	align-items: center;
	font-size: 20pt;
}

.vote-wrapper{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
}

.vote-wrapper .info{
	margin-left: 3px;
    margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.vote-wrapper .youtube{
	position: relative;
    padding-bottom: 56.25%;
}

.youtube iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vote-wrapper .timer{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14pt;
	white-space: pre-wrap;
}

.rate-wrapper{
	height: 30px;
	width: 150px;
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
}

.rate-wrapper.green{
	border: 4px solid green;
	background: green;
}
  
.rate-wrapper.red{
	border: 4px solid red;
	background: red;
}

.rate-wrapper.blue{
	border: 4px solid blue;
	background: blue;
}

.rate{
	height: 30px;
	width: 30px;
	text-align: center;
	font-size: 20pt;
	font-family: 'Roboto';
	transition: all .2s;
	background: white;
}
  
.rate-wrapper.green .rate:hover, .rate-wrapper.green .rate:hover ~ .rate{
	color: white;
	background: green !important;
}

.rate-wrapper.green .rate.active, .rate-wrapper.green .rate.active ~ .rate{
	color: white;
	background: darkgreen;
}

.rate-wrapper.red .rate:hover, .rate-wrapper.red .rate:hover ~ .rate{
	color: white;
	background: red !important;
}

.rate-wrapper.red .rate.active, .rate-wrapper.red .rate.active ~ .rate{
	color: white;
	background: darkred;
}

.rate-wrapper.blue .rate:hover, .rate-wrapper.blue .rate:hover ~ .rate{
	color: white;
	background: blue !important;
}

.rate-wrapper.blue .rate.active, .rate-wrapper.blue .rate.active ~ .rate{
	color: white;
	background: darkblue;
}

.category{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
}

.category .name, .category .comment{
	font-size: 14pt;
}

.vote-title{
	font-size: 20pt;
	border-top: 2px solid rgb(170, 170, 170);
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 2px solid rgb(170, 170, 170);
}

.vote-info{
	font-size: 17pt;
}

.vote-old-rates{
	font-size: 14pt;
	white-space: pre-wrap;
	margin-bottom: 10px;
	border-bottom: 2px solid gray;
	padding-bottom: 10px;
}
	
.vote-wrapper button{
	border: solid gray 2px;
	width: 100%;
	height: 36px;
	margin-top: 5px;
	transition: background .3s;
	font-size: 10pt;
	width: 280px;
	margin-bottom: 5px;
}

.vote-wrapper button:hover{
	background: darkgray;
}

.vote-old-rates, .vote-info, .timer{
	margin-left: 3px;
	margin-right: 3px;
}